<!DOCTYPE html>
<html lang="de">

<head>
	<!-- Grundlegende Meta-Tags und Ressourcen -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/client/public/img/icon-128.png" />
	<meta name="apple-mobile-web-app-status-bar" content="#02BC74" />
	<link rel="manifest" href="/manifest.json">
	<title>Salus - Medikamente</title>
	<!-- Verknüpfung zu externem Bootstrap und internen CSS-Stylesheets -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/client/public/css/main.css" />
	<link rel="stylesheet" href="/client/public/css/medications.css" />
</head>
<body>
	<div class="container mt-4">
		<h1 class="mb-4">Meine Medikamente</h1>
		<div class="medication-list"></div>
		<!-- Button zum Hinzufügen neuer Medikamente -->
		<button id="add-btn" class="btn add-btn position-fixed" style="bottom: 20px; right: 20px">
			<i class="bi bi-clipboard-plus" style="font-size: 1.5rem"></i>
		</button>
	</div>
	<!-- Fußzeile -->
	<footer class="footer mt-auto py-3 bg-light">
		<div class="container text-center">
			<span class="text-muted">© 2023 Salus App. Alle Rechte vorbehalten.</span>
		</div>
	</footer>
	<!-- Modal -->
	<div class="modal fade" id="medicationModal" tabindex="-1" role="dialog" aria-labelledby="medicationModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="medicationModalLabel">Neues Medikament</h5>
			</div>
			<div class="modal-body">
				<form autocomplete="off">
					<div class="form-group">
						<label for="medicationName">📛 Name des Medikaments</label>
						<input type="text" class="form-control" id="medicationName" placeholder="Name des Medikaments" required>
					</div>
					<div class="form-group">
						<label for="medicationDosage">💊 Dosis</label>
						<input type="text" class="form-control" id="medicationDosage" placeholder="30mg" required>
					</div>
					<div class="form-group">
						<label for="medicationTablets">💊 Menge</label>
						<input type="text" class="form-control" id="medicationTablets" placeholder="1 Tablette" required>
					</div>
					<div class="form-group">
						<label for="medicationTime">⌚ Uhrzeit</label>
						<input type="time" class="form-control" id="medicationTime" placeholder="18:30">
					</div>
					<div class="form-group">
						<label for="medicationNotes">📝 Notizen</label>
						<textarea class="form-control" name="mediactionNotes" id="mediactionNotes" cols="30" rows="3" placeholder="Notizen..."></textarea>
					</div>
				</form>
			</div>			
			<div class="modal-footer">
			<button type="button" id="entry-close" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
			<button type="button" id="entry-save" class="btn btn-primary">Speichern</button>
			</div>
		</div>
		</div>
	</div>
	<script src="/app.js"></script>
	<script src="/client/public/js/jquery.min.js"></script>
	<script src="/client/public/js/bootstrap.min.js"></script>
	<script src="/client/public//js/medikamente.js"></script>
</body>
</html>