<!DOCTYPE html>
<html lang="de">

<head>
	<!-- Grundlegende Meta-Tags und Ressourcen -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/client/public/img/icon-128.png" />
	<meta name="apple-mobile-web-app-status-bar" content="#02BC74" />
	<link rel="manifest" href="/manifest.json">
	<title>Salus Profil</title>
	<!-- Verknüpfung zu externem Bootstrap und internen CSS-Stylesheets -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/client/public/css/main.css" />
	<link rel="stylesheet" href="/client/public/css/home.css" />
</head>

<body>

	<!-- Der Hauptinhalt der Seite, ein Formular zur Profilbearbeitung -->
	<div class="container mt-4">
		<div class="text-center">
			<!-- Profilbild und Nutzername -->
			<img src="/client/public/img/profilbild.jpg" class="rounded-circle" alt="Profilbild" width="150" height="150" />
			<h2 class="mt-3" id="username">Nutzername</h2>
		</div>

		<hr />

		<form>
			<!-- Formularfelder zur Eingabe von E-Mail, Telefonnummer, Geburtsdatum, Geschlecht, medizinischen Bedingungen/Allergien und Notfallkontakt -->
			<div class="form-group">
				<label for="email">E-Mail</label>
				<input type="email" class="form-control" id="email" placeholder="name@example.com" />
			</div>
			<div class="form-group">
				<label for="telefon">Telefonnummer</label>
				<input type="tel" class="form-control" id="telefon" placeholder="0123456789" />
			</div>
			<div class="form-group">
				<label for="geburtsdatum">Geburtsdatum</label>
				<input type="date" class="form-control" id="geburtsdatum" />
			</div>
			<div class="form-group">
				<label for="geschlecht">Geschlecht</label>
				<select class="form-control" id="geschlecht">
					<option>Wählen...</option>
					<option>Männlich</option>
					<option>Weiblich</option>
					<option>Andere</option>
				</select>
			</div>
			<div class="form-group">
				<label for="medizinischeBedingungen">Medizinische Bedingungen / Allergien</label>
				<textarea class="form-control" id="medizinischeBedingungen" rows="3"></textarea>
			</div>
			<div class="form-group">
				<label for="notfallkontakt">Notfallkontakt</label>
				<input type="text" class="form-control" id="notfallkontaktName" placeholder="Name" />
				<input type="tel" class="form-control" id="notfallkontaktTelefon" placeholder="Telefonnummer" />
			</div>
			<!-- Ein Button, um das Formular zu senden -->
			<button type="submit" class="btn btn-primary">
				Änderungen speichern
			</button>
		</form>
	</div>

	<!-- Fußzeile -->
	<footer class="footer mt-auto py-3 bg-light">
		<div class="container text-center">
			<span class="text-muted">© 2023 Salus App. Alle Rechte vorbehalten.</span>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script>
		// Bei Seitenladevorgang:
		// 1. Eine GET-Anfrage an '/profil/info' senden, um Benutzerinformationen zu erhalten und diese auf der Seite anzuzeigen
		// 2. Das Formular 'submit'-Ereignis abfangen, eine POST-Anfrage an '/profil/info' senden, um die Benutzerinformationen zu aktualisieren
		// 3. Das 'click'-Ereignis des 'logout'-Buttons abfangen und eine POST-Anfrage an '/logout' senden, um den Benutzer abzumelden
		$(document).ready(function () {
			$.ajax({
				url: "/profil/info",
				method: "GET",
				success: function (data) {
					$("#username").text(data.benutzername);
					$("#email").val(data.email);
					$("#telefon").val(data.telefon);
					if (data.geburtsdatum){
						const geburtsdatum = new Date(data.geburtsdatum).toISOString().substr(0, 10);
						$("#geburtsdatum").val(geburtsdatum);
					}
					$("#geschlecht").val(data.geschlecht);
					$("#medizinischeBedingungen").val(data.medizinischeBedingungen.join("\n"));
					if (data.notfallkontakt){
						$("#notfallkontaktName").val(data.notfallkontakt.name);
						$("#notfallkontaktTelefon").val(data.notfallkontakt.telefon);
					}
				},
			});
			$("form").submit(function (e) {
				e.preventDefault();
				const geburtsdatum = new Date($("#geburtsdatum").val()).toISOString();
				const data = {
					email: $("#email").val(),
					telefon: $("#telefon").val(),
					geburtsdatum: geburtsdatum,
					geschlecht: $("#geschlecht").val(),
					medizinischeBedingungen: $("#medizinischeBedingungen").val().split("\n"),
					notfallkontakt: {
						name: $("#notfallkontaktName").val(),
						telefon: $("#notfallkontaktTelefon").val(),
					},
				};

				$.ajax({
					url: "/profil/info",
					method: "POST",
					data: data,
					success: function (data) {
						alert("Profilinformationen erfolgreich geändert!");
					},
					error: function (err) {
						alert("Fehler beim Ändern der Profilinformationen: " + err.message);
					},
				});
			});

			$("#logout").click(function (e) {
				e.preventDefault();
				$.ajax({
					url: "/logout",
					method: "POST",
					success: function () {
						window.location.href = "/anmelden";
					},
				});
			});
		});
	</script>
	<script src="/app.js"></script>
</body>

</html>