<!DOCTYPE html>
<html lang="de">

<head>
	<!-- Grundlegende Meta-Tags und Ressourcen -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/client/public/img/icon-128.png" />
	<meta name="apple-mobile-web-app-status-bar" content="#02BC74" />
	<link rel="manifest" href="/manifest.json">
	<title>Salus Registrieren</title>
	<!-- Verknüpfung zu externem Bootstrap und internen CSS-Stylesheets -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/client/public/css/main.css" />
	<link rel="stylesheet" href="/client/public/css/home.css" />
</head>

<body>
	 

	<!-- Der Hauptinhalt der Seite, ein Formular zur Registrierung -->
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card mt-5">
					<div class="card-body text-center">
						<img src="../img/icon-512.png" alt="Logo" width="150" />
						<h2 class="mt-3">Registrieren</h2>
						<form class="mt-4" action="/registrieren" method="POST">
							<!-- Formularfelder zur Eingabe von Benutzername, E-Mail und Passwort -->
							<div class="form-group">
								<input type="text" class="form-control" id="benutzername" name="benutzername"
									placeholder="Benutzername" required />
							</div>
							<div class="form-group">
								<input type="email" class="form-control" id="email" name="email" placeholder="E-Mail"
									required />
							</div>
							<div class="form-group">
								<input type="password" class="form-control" id="passwort" name="passwort"
									placeholder="Passwort" required />
							</div>
							<!-- Ein Button, um das Formular zu senden -->
							<button type="submit" class="btn btn-primary btn-block">
								Registrieren
							</button>
						</form>
						<p class="mt-3">Schon ein Konto? <a href="#">Anmelden</a></p>
					</div>
				</div>
				<div class="text-center mt-3">
					<a href="#">Datenschutzerklärung</a> |
					<a href="#">Nutzungsbedingungen</a>
				</div>
			</div>
		</div>
	</div> 
	<!-- Externe JS-Bibliotheken -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
	<script src="/app.js"></script>
</body>

</html>