<!DOCTYPE html>
<html>
  <head>
    <title>Registrierungsseite</title>
    <link rel="stylesheet" href="index.css">
    
  </head>
  <body>
    <section>
        <div class="form-box1">
            <div clas="form-value">
                <form action="">
                    <h2>Registrierungsseite</h2>
                    <div class="inputbox">
                        <div class="inputbox">
                        <ion-icon name="person-circle-outline"></ion-icon>
                        <input type="vorname" required>
                        <label for="">Vorname</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="person-circle-outline"></ion-icon>
                        <input type="nachname" required>
                        <label for="">Nachname</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" required>
                        <label for="">Email</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required>
                        <label for="">Password</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="heart-circle-outline"></ion-icon>
                        <input type="age" required>
                        <label for="">Age</label>
                    </div>
                    
                    <button>Account erstellen</button>
                    <a href="http://127.0.0.1:5500/index.html"></a>
                    
                </form>
            </div>    
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
   
  </body>
</html>
